<nav class="navbar navbar-light bg-light p-2">
  <a class="navbar-brand">GoofPass</a>
  <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="logout()">Logout</button>
</nav>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3>New password</h3>
      <hr class="mb-3">
      <form [formGroup]="passwordForm" (submit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" name="name" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Submit</button>
      </form>
    </div>
  </div>

  <!-- Password Generator Section -->
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <h4>Password Generator</h4>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Generated Password" aria-label="Generated Password"
               [value]="generatedPassword" readonly>
        <button class="btn btn-outline-secondary" type="button" (click)="generatePassword()">Generate</button>
      </div>
    </div>
  </div>
</div>

