<div class="container d-flex align-items-center justify-content-center" style="height: 80vh;">
  <div class="row">
    <h1 class="text-center">Login</h1>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email" formControlName="email" class="form-control" placeholder="example@email.com">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" formControlName="password" class="form-control"
               placeholder="must at least have 8 characters">
      </div>

      <div class="text-center d-flex justify-content-between">
        <a class="align-self-start text-sm-center" [routerLink]="['/register']">Sign up</a>
        <button class="btn btn-success align-self-end" type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
